In [2]:
exp = [1,2,5,8,9,10,88,33,77]

In [3]:
from random import shuffle

In [4]:
shuffle(exp)

In [5]:
exp

[88, 1, 8, 33, 77, 9, 5, 10, 2]

In [42]:
list = [1,5,8,9,7,1]

In [43]:
list

[1, 5, 8, 9, 7, 1]

In [45]:
for item in list:
    print(item)

1
5
8
9
7
1

In [9]:
list

[1, 5, 8, 9, 7, 1]

In [10]:
rlist = list[::-1]
rlist

[1, 7, 9, 8, 5, 1]

level two problem remember to calling functions

In [52]:
no = [1,6,6,6,6]

In [56]:
len(no)-1

4

In [53]:
def check_func(no):
    
    for x in range(0,len(no)-1):
        if no[x] == 1 and no[x+1] == 6:
            return True  
    return False

In [60]:
check_func([1,6,2])

True

paper doll problem

In [14]:
def name(text):
    result = ''
    for char in text:
        result += char*5
    return result

In [15]:
name('hisham')

'hhhhhiiiiissssshhhhhaaaaammmmm'

nested loop problems

In [16]:
def summ(no):
    
    total = 0
    add = True
    
    for x in no:
        while add:
            if x!= 6:
                total += x
                break
            else:    
                add = False 
        while not add:
            if x != 9:
                break
            else:   
                add = True   
                break   
    return total

In [17]:
summ([1, 3, 5])

9

In [18]:
def sq(no):
    return no**2

In [19]:
sq(2)

4

In [20]:
my_no = [1,2,3,4]

In [21]:
for item in map(sq,my_no):
    print(item)

1
4
9
16

In [22]:
list

[1, 5, 8, 9, 7, 1]

In [23]:
def splicer(mystring):
    if len(mystring)%2 == 2:
        return 'even'
    else:
        return mystring[0]

In [24]:
name = ['hisham','nigar','manaal']

In [25]:
map(splicer,name)

In [26]:
list(map(splicer,name))

TypeError: 'list' object is not callable

In [27]:
num = [1,2,3,4,5,6]

In [28]:
def check(num):
    return num %2 == 0

In [29]:
ch = filter(check,num)

In [30]:
f_ch = list(ch)

TypeError: 'list' object is not callable

In [31]:
numbers = [1, 2, 3, 4]

def less_than_three(number):
    return number < 3

an_iterator = filter(less_than_three, numbers)


filtered_numbers = list(an_iterator)

print(filtered_numbers)

TypeError: 'list' object is not callable

In [32]:
list

[1, 5, 8, 9, 7, 1]

In [33]:
lambda sq = num: mum** 2

In [34]:
sq(5)

25

In [35]:
mynum = [1,2,3,4,5]

In [36]:
list(map(lambda num: num**2,mynum))

TypeError: 'list' object is not callable

LEGB Rule: 
local 

local variable call first

In [20]:
# globle 
name = 'google'

def web():
    # enclosing
    name = 'gmail'
    def opening():
        #local variable 
        print('open '+name)
        
    opening()

In [21]:
web()

open gmail

In [39]:
def multiply(n):
    pass

In [40]:
n = [1,2,2]

In [41]:
multiply(n)

In [42]:
2 in range(0,5)

True

range checker

In [43]:
def ran(num,low,high):
    if num in range(low,high+1):
            print(f"{num}' is in {low} and {high}")
    else:
        print('not in range')

In [44]:
ran(5,0,7)

5' is in 0 and 7

determin upper case letter and lower case letters

In [45]:
def up_low(s):
    d = {'upper':0, 'lower':0} # for dictionary method
    #lowercase = 0 
    #uppercase = 0
    
    for char in s:
        if char.isupper():
            d['upper'] += 1
        elif char.islower():
            d['lower'] += 1
        else:
            pass
    print(f"original string: {s}")
    print(f"lower case string: {d['upper']}")
    print(f"upper case string: {d['lower']}")

In [46]:
up_low("i am Dr Hisham")

original string: i am Dr Hisham
lower case string: 2
upper case string: 9

finding unique number is the list

In [47]:
def uni_list(lst):
    seen = [] # its empty list 
    for item in lst: # for loop for indexing 
        if item not in seen: # finding the number with is which are already in the list 
            seen.append(item)
    return seen # its retrning the list which is given

In [48]:
uni_list([1,1,1,2,2,2,3,3,3,4,4,4,4,5,5,5])

[1, 2, 3, 4, 5]

list elements multiplication

In [18]:
def mult(num):
    total = 1
    for x in num:
        total = total * x
    return total

In [19]:
mult([1,2,8,5])

80

In [51]:
import string

def inpangrm(str1, alphabet = string.ascii_lowercase):
    #create a set of alphabet
    alphaset = set(alphabet)
    print(alphaset)
    #removing space
    str1 =str1.replace(' ','')
    print(str1)
    str1 = str1.lower()
    print(str1)
    str1 = set(str1)
    print(str1)
    return str1 == alphaset

In [52]:
inpangrm("The quick brown fox jumps over the lazy dog")

{'h', 'v', 'a', 's', 'x', 'y', 'm', 'l', 'j', 't', 'o', 'g', 'c', 'd', 'z', 'i', 'r', 'b', 'p', 'q', 'u', 'e', 'f', 'k', 'n', 'w'}
Thequickbrownfoxjumpsoverthelazydog
thequickbrownfoxjumpsoverthelazydog
{'h', 'v', 'a', 's', 'x', 'y', 'm', 'j', 'l', 't', 'o', 'g', 'c', 'z', 'd', 'i', 'r', 'b', 'u', 'q', 'p', 'e', 'f', 'k', 'n', 'w'}

True

game making using python 
cross and ticks

In [68]:
  acceptable_range = range(0,10)

In [73]:
def user_choice():
    
    choice = 'wrong'
    
    acceptable_range = range(0,10)
    within_range = False
    
    while choice.isdigit() == False or within_range == False:
        
        #Digit check
        choice = input("enter number")
        if choice.isdigit() == False:
            print("Enter again")
        #range check
        if choice.isdigit() == True: 
            if choice is acceptable_range:
                within_range = True
            else:
                print("soory... bad input  ")
                within_range = False 
    return int(choice)

In [ ]:
user_choice()

enter numberll
Enter again
enter number1
soory... bad input
enter number1
soory... bad input
enter number2
soory... bad input

Object origented programing

In [5]:
for x in 'apple':

    print(x)

a
p
p
l
e

In [16]:
x = 'machine learning'

i = 0 
while i<10:
    print(i)
#    i += 1
    if i == 15:
        break
    i +=1

0
1
2
3
4
5
6
7
8
9